body {
  margin:0px;
  background-color:rgba(255, 255, 255, 0.588235294117647);
  background-image:url('../../images/index/bg.png');
  background-position:center top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:600px 600px;
  position:static;
  left:auto;
  width:1199px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:520px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:200px;
  top:90px;
  width:903px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u2 {
  position:absolute;
  left:952px;
  top:31px;
  width:41px;
  height:29px;
  opacity:0.9;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  white-space:nowrap;
  text-shadow:5px 5px 5px rgba(51, 102, 255, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(51, 102, 255, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(51, 102, 255, 0.349019607843137);
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-SC-Regular', 'Yuanti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u4 {
  position:absolute;
  left:1026px;
  top:31px;
  width:77px;
  height:29px;
  opacity:0.9;
  font-family:'STYuanti-SC-Regular', 'Yuanti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
  text-shadow:5px 5px 5px rgba(51, 102, 255, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(51, 102, 255, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(51, 102, 255, 0.349019607843137);
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-SC-Regular', 'Yuanti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u6 {
  position:absolute;
  left:1122px;
  top:31px;
  width:77px;
  height:29px;
  opacity:0.9;
  font-family:'STYuanti-SC-Regular', 'Yuanti SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  white-space:nowrap;
  text-shadow:5px 5px 5px rgba(51, 102, 255, 0.349019607843137);
  -webkit-text-shadow:5px 5px 5px rgba(51, 102, 255, 0.349019607843137);
  -moz-text-shadow:5px 5px 5px rgba(51, 102, 255, 0.349019607843137);
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:32px;
}
#u9 {
  position:absolute;
  left:111px;
  top:29px;
  width:172px;
  height:32px;
  opacity:0.7;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:26px;
}
#u11 {
  position:absolute;
  left:80px;
  top:29px;
  width:24px;
  height:26px;
}
#u12 {
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:21px;
}
#u13 {
  position:absolute;
  left:86px;
  top:34px;
  width:15px;
  height:21px;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 102, 255, 0.756862745098039);
  text-align:center;
}
#u15 {
  position:absolute;
  left:485px;
  top:110px;
  width:333px;
  height:49px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:rgba(51, 102, 255, 0.756862745098039);
  text-align:center;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u17 {
  position:absolute;
  left:412px;
  top:184px;
  width:69px;
  height:31px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:491px;
  top:180px;
  width:282px;
  height:38px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:38px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u20 {
  position:absolute;
  left:412px;
  top:249px;
  width:68px;
  height:31px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:492px;
  top:249px;
  width:282px;
  height:38px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:38px;
  font-family:'Chalkboard', 'Chalkboard';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 204, 255, 0.768627450980392);
}
#u23 {
  position:absolute;
  left:504px;
  top:302px;
  width:106px;
  height:27px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 204, 255, 0.768627450980392);
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u25 {
  position:absolute;
  left:599px;
  top:299px;
  width:61px;
  height:30px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:underline;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u26 {
  position:absolute;
  left:2px;
  top:1px;
  width:57px;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 204, 255, 0.768627450980392);
}
#u27 {
  position:absolute;
  left:660px;
  top:302px;
  width:82px;
  height:27px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(51, 204, 255, 0.768627450980392);
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
}
#u29 {
  position:absolute;
  left:790px;
  top:210px;
  width:121px;
  height:40px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u32 {
  position:absolute;
  left:716px;
  top:390px;
  width:73px;
  height:25px;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u34 {
  position:absolute;
  left:703px;
  top:433px;
  width:255px;
  height:92px;
  font-size:14px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
}
#u36 {
  position:absolute;
  left:676px;
  top:391px;
  width:30px;
  height:24px;
}
#u37 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u39 {
  position:absolute;
  left:376px;
  top:390px;
  width:109px;
  height:25px;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u41 {
  position:absolute;
  left:364px;
  top:433px;
  width:255px;
  height:92px;
  font-size:14px;
  color:rgba(51, 102, 255, 0.756862745098039);
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u43 {
  position:absolute;
  left:340px;
  top:390px;
  width:26px;
  height:27px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
