body {
  margin:0px;
  background-image:url('../../images/index/bg.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:600px 600px;
  position:static;
  left:auto;
  width:1204px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:529px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u789 {
  position:absolute;
  left:293px;
  top:80px;
  width:911px;
  height:529px;
}
#u790 {
  position:absolute;
  left:2px;
  top:256px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:447px;
  background:inherit;
  background-color:rgba(153, 255, 102, 0.156862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u791 {
  position:absolute;
  left:93px;
  top:101px;
  width:214px;
  height:447px;
}
#u792 {
  position:absolute;
  left:2px;
  top:216px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u793 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u794 {
  position:absolute;
  left:1028px;
  top:32px;
  width:92px;
  height:26px;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u795 {
  position:absolute;
  left:2px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u796 {
  position:absolute;
  left:894px;
  top:32px;
  width:29px;
  height:26px;
}
#u797 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u798 {
  position:absolute;
  left:1006px;
  top:31px;
  width:28px;
  height:28px;
}
#u799 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.498039215686275);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u800 {
  position:absolute;
  left:933px;
  top:32px;
  width:61px;
  height:26px;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u801 {
  position:absolute;
  left:2px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u802 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:41px;
}
#u803 {
  position:absolute;
  left:113px;
  top:23px;
  width:186px;
  height:41px;
  opacity:0.7;
}
#u804 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u805_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:33px;
}
#u805 {
  position:absolute;
  left:82px;
  top:26px;
  width:26px;
  height:33px;
}
#u806 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u807 {
  position:absolute;
  left:88px;
  top:31px;
  width:16px;
  height:27px;
}
#u808 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u809 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:67px;
}
#u810 {
  position:absolute;
  left:119px;
  top:120px;
  width:68px;
  height:67px;
}
#u811 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6633FF;
}
#u812 {
  position:absolute;
  left:197px;
  top:128px;
  width:65px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6633FF;
}
#u813 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u814 {
  position:absolute;
  left:197px;
  top:158px;
  width:57px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:123px;
  top:218px;
  width:125px;
  height:39px;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.498039215686275);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u819 {
  position:absolute;
  left:175px;
  top:230px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u820 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u821 {
  position:absolute;
  left:136px;
  top:230px;
  width:35px;
  height:33px;
}
#u822 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u824 {
  position:absolute;
  left:175px;
  top:285px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u825 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u826 {
  position:absolute;
  left:136px;
  top:285px;
  width:35px;
  height:33px;
}
#u827 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u829 {
  position:absolute;
  left:175px;
  top:340px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u831 {
  position:absolute;
  left:136px;
  top:340px;
  width:35px;
  height:33px;
}
#u832 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u834 {
  position:absolute;
  left:175px;
  top:395px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u835 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u836 {
  position:absolute;
  left:136px;
  top:395px;
  width:35px;
  height:33px;
}
#u837 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u839 {
  position:absolute;
  left:175px;
  top:450px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u841 {
  position:absolute;
  left:136px;
  top:450px;
  width:35px;
  height:33px;
}
#u842 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 255, 102, 0.498039215686275);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3366FF;
}
#u843 {
  position:absolute;
  left:654px;
  top:279px;
  width:140px;
  height:40px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3366FF;
}
#u844 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u845 {
  position:absolute;
  left:804px;
  top:286px;
  width:69px;
  height:26px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u846 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  white-space:nowrap;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:118px;
}
#u847 {
  position:absolute;
  left:690px;
  top:145px;
  width:132px;
  height:118px;
}
#u848 {
  position:absolute;
  left:2px;
  top:51px;
  width:128px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3366FF;
}
#u850 {
  position:absolute;
  left:447px;
  top:360px;
  width:73px;
  height:25px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#3366FF;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u852 {
  position:absolute;
  left:471px;
  top:401px;
  width:654px;
  height:165px;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u854 {
  position:absolute;
  left:2px;
  top:6px;
  width:61px;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u855 {
  position:absolute;
  left:65px;
  top:0px;
  width:139px;
  height:30px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u856 {
  position:absolute;
  left:2px;
  top:6px;
  width:135px;
  word-wrap:break-word;
}
#u857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u857 {
  position:absolute;
  left:204px;
  top:0px;
  width:104px;
  height:30px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u858 {
  position:absolute;
  left:2px;
  top:6px;
  width:100px;
  word-wrap:break-word;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u859 {
  position:absolute;
  left:308px;
  top:0px;
  width:134px;
  height:30px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u860 {
  position:absolute;
  left:2px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u861_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
}
#u861 {
  position:absolute;
  left:442px;
  top:0px;
  width:207px;
  height:30px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u862 {
  position:absolute;
  left:2px;
  top:6px;
  width:203px;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u863 {
  position:absolute;
  left:0px;
  top:30px;
  width:65px;
  height:36px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u864 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:36px;
}
#u865 {
  position:absolute;
  left:65px;
  top:30px;
  width:139px;
  height:36px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u866 {
  position:absolute;
  left:2px;
  top:10px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:36px;
}
#u867 {
  position:absolute;
  left:204px;
  top:30px;
  width:104px;
  height:36px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u868 {
  position:absolute;
  left:2px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:36px;
}
#u869 {
  position:absolute;
  left:308px;
  top:30px;
  width:134px;
  height:36px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u870 {
  position:absolute;
  left:2px;
  top:10px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:36px;
}
#u871 {
  position:absolute;
  left:442px;
  top:30px;
  width:207px;
  height:36px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u872 {
  position:absolute;
  left:2px;
  top:10px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u873 {
  position:absolute;
  left:0px;
  top:66px;
  width:65px;
  height:32px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u874 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u875 {
  position:absolute;
  left:65px;
  top:66px;
  width:139px;
  height:32px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u876 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
}
#u877 {
  position:absolute;
  left:204px;
  top:66px;
  width:104px;
  height:32px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u878 {
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u879 {
  position:absolute;
  left:308px;
  top:66px;
  width:134px;
  height:32px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u880 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:32px;
}
#u881 {
  position:absolute;
  left:442px;
  top:66px;
  width:207px;
  height:32px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u882 {
  position:absolute;
  left:2px;
  top:8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
}
#u883 {
  position:absolute;
  left:0px;
  top:98px;
  width:65px;
  height:32px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u884 {
  position:absolute;
  left:2px;
  top:8px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:32px;
}
#u885 {
  position:absolute;
  left:65px;
  top:98px;
  width:139px;
  height:32px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u886 {
  position:absolute;
  left:2px;
  top:8px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:32px;
}
#u887 {
  position:absolute;
  left:204px;
  top:98px;
  width:104px;
  height:32px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u888 {
  position:absolute;
  left:2px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:32px;
}
#u889 {
  position:absolute;
  left:308px;
  top:98px;
  width:134px;
  height:32px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u890 {
  position:absolute;
  left:2px;
  top:8px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:32px;
}
#u891 {
  position:absolute;
  left:442px;
  top:98px;
  width:207px;
  height:32px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u892 {
  position:absolute;
  left:2px;
  top:8px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
}
#u893 {
  position:absolute;
  left:0px;
  top:130px;
  width:65px;
  height:30px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u894 {
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:30px;
}
#u895 {
  position:absolute;
  left:65px;
  top:130px;
  width:139px;
  height:30px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u896 {
  position:absolute;
  left:2px;
  top:7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u897 {
  position:absolute;
  left:204px;
  top:130px;
  width:104px;
  height:30px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u898 {
  position:absolute;
  left:2px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:30px;
}
#u899 {
  position:absolute;
  left:308px;
  top:130px;
  width:134px;
  height:30px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u900 {
  position:absolute;
  left:2px;
  top:7px;
  width:130px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:30px;
}
#u901 {
  position:absolute;
  left:442px;
  top:130px;
  width:207px;
  height:30px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#3366FF;
}
#u902 {
  position:absolute;
  left:2px;
  top:7px;
  width:203px;
  visibility:hidden;
  word-wrap:break-word;
}
