.my-btn {
    background-color: #00a65a;
    border-color: green;
}

.my-btn:hover,
.my-btn:active,
.my-btn:focus
.my-btn.hover {
    background-color: darkseagreen;
}

.my-content-header,
.my-content{
    padding-top: 2%;
}