body {
  margin:0px;
  background-image:url('../../images/userpassword/regen/bg.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:600px 600px;
  position:static;
  left:auto;
  width:1204px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u1 {
  position:absolute;
  left:919px;
  top:32px;
  width:61px;
  height:26px;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u2 {
  position:absolute;
  left:2px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.498039215686275);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u3 {
  position:absolute;
  left:1043px;
  top:32px;
  width:86px;
  height:26px;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u4 {
  position:absolute;
  left:2px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u5 {
  position:absolute;
  left:894px;
  top:32px;
  width:29px;
  height:26px;
}
#u6 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u7 {
  position:absolute;
  left:1006px;
  top:31px;
  width:28px;
  height:28px;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:41px;
}
#u10 {
  position:absolute;
  left:113px;
  top:23px;
  width:186px;
  height:41px;
  opacity:0.7;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:33px;
}
#u12 {
  position:absolute;
  left:82px;
  top:26px;
  width:26px;
  height:33px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u14 {
  position:absolute;
  left:88px;
  top:31px;
  width:16px;
  height:27px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:447px;
  background:inherit;
  background-color:rgba(153, 255, 102, 0.156862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:93px;
  top:101px;
  width:214px;
  height:447px;
}
#u17 {
  position:absolute;
  left:2px;
  top:216px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:67px;
}
#u19 {
  position:absolute;
  left:119px;
  top:120px;
  width:68px;
  height:67px;
}
#u20 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6633FF;
}
#u21 {
  position:absolute;
  left:197px;
  top:128px;
  width:65px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6633FF;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23 {
  position:absolute;
  left:197px;
  top:158px;
  width:57px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u27 {
  position:absolute;
  left:175px;
  top:230px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u29 {
  position:absolute;
  left:136px;
  top:230px;
  width:35px;
  height:33px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.498039215686275);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u33 {
  position:absolute;
  left:175px;
  top:283px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u35 {
  position:absolute;
  left:136px;
  top:283px;
  width:35px;
  height:33px;
}
#u36 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:529px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:293px;
  top:80px;
  width:911px;
  height:529px;
}
#u38 {
  position:absolute;
  left:2px;
  top:256px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
