body {
  margin:0px;
  background-image:url('../../images/index/bg.png');
  background-position:left top;
  background-repeat:repeat;
  background-attachment:scroll;
  background-size:600px 600px;
  position:static;
  left:auto;
  width:1204px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:447px;
  background:inherit;
  background-color:rgba(153, 255, 102, 0.156862745098039);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u271 {
  position:absolute;
  left:93px;
  top:101px;
  width:214px;
  height:447px;
}
#u272 {
  position:absolute;
  left:2px;
  top:216px;
  width:210px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u274 {
  position:absolute;
  left:894px;
  top:32px;
  width:29px;
  height:26px;
}
#u275 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u276 {
  position:absolute;
  left:1006px;
  top:31px;
  width:28px;
  height:28px;
}
#u277 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u278 {
  position:absolute;
  left:1028px;
  top:32px;
  width:92px;
  height:26px;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u279 {
  position:absolute;
  left:2px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.498039215686275);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u280 {
  position:absolute;
  left:933px;
  top:32px;
  width:61px;
  height:26px;
  font-family:'STYuanti-TC-Bold', 'Yuanti TC Bold', 'Yuanti TC';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#6633FF;
}
#u281 {
  position:absolute;
  left:2px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:41px;
}
#u283 {
  position:absolute;
  left:113px;
  top:23px;
  width:186px;
  height:41px;
  opacity:0.7;
}
#u284 {
  position:absolute;
  left:2px;
  top:12px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:33px;
}
#u285 {
  position:absolute;
  left:82px;
  top:26px;
  width:26px;
  height:33px;
}
#u286 {
  position:absolute;
  left:2px;
  top:8px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u287 {
  position:absolute;
  left:88px;
  top:31px;
  width:16px;
  height:27px;
}
#u288 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u289 {
  position:absolute;
  left:123px;
  top:218px;
  width:125px;
  height:39px;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:911px;
  height:529px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u291 {
  position:absolute;
  left:293px;
  top:80px;
  width:911px;
  height:529px;
}
#u292 {
  position:absolute;
  left:2px;
  top:256px;
  width:907px;
  visibility:hidden;
  word-wrap:break-word;
}
#u293_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u293 {
  position:absolute;
  left:350px;
  top:111px;
  width:100px;
  height:29px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u294 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u295_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.447058823529412);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u295 {
  position:absolute;
  left:490px;
  top:111px;
  width:130px;
  height:29px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u296 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u297 {
  position:absolute;
  left:640px;
  top:111px;
  width:130px;
  height:29px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u298 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:77px;
}
#u299 {
  position:absolute;
  left:441px;
  top:188px;
  width:106px;
  height:77px;
}
#u300 {
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(153, 255, 102, 0.498039215686275);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u301 {
  position:absolute;
  left:427px;
  top:298px;
  width:80px;
  height:32px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u302 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u303_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u303 {
  position:absolute;
  left:517px;
  top:302px;
  width:33px;
  height:24px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u304 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u305_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u305 {
  position:absolute;
  left:477px;
  top:267px;
  width:38px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u306 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u307 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:67px;
}
#u308 {
  position:absolute;
  left:111px;
  top:120px;
  width:68px;
  height:67px;
}
#u309 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6633FF;
}
#u310 {
  position:absolute;
  left:189px;
  top:128px;
  width:65px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#6633FF;
}
#u311 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u312 {
  position:absolute;
  left:189px;
  top:158px;
  width:57px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u313 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u314 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u315 {
  position:absolute;
  left:128px;
  top:230px;
  width:35px;
  height:33px;
  text-align:left;
}
#u316 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u317 {
  position:absolute;
  left:167px;
  top:230px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u318 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u320 {
  position:absolute;
  left:128px;
  top:285px;
  width:35px;
  height:33px;
  text-align:left;
}
#u321 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u322 {
  position:absolute;
  left:167px;
  top:285px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u323 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u324 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u325 {
  position:absolute;
  left:167px;
  top:340px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u326 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u327 {
  position:absolute;
  left:128px;
  top:340px;
  width:35px;
  height:33px;
  text-align:left;
}
#u328 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u329 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.498039215686275);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u330 {
  position:absolute;
  left:167px;
  top:395px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u331 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u332 {
  position:absolute;
  left:128px;
  top:395px;
  width:35px;
  height:33px;
}
#u333 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u334 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u335 {
  position:absolute;
  left:167px;
  top:450px;
  width:108px;
  height:33px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
}
#u336 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u337 {
  position:absolute;
  left:128px;
  top:450px;
  width:35px;
  height:33px;
}
#u338 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:2px;
}
#u339 {
  position:absolute;
  left:350px;
  top:154px;
  width:440px;
  height:1px;
}
#u340 {
  position:absolute;
  left:2px;
  top:-8px;
  width:436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:436px;
  background:inherit;
  background-color:rgba(255, 204, 204, 0.149019607843137);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u342 {
  position:absolute;
  left:933px;
  top:144px;
  width:247px;
  height:436px;
}
#u343 {
  position:absolute;
  left:2px;
  top:210px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u344 {
  position:absolute;
  left:990px;
  top:158px;
  width:130px;
  height:29px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#3366FF;
  text-align:center;
}
#u345 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u346 {
  position:absolute;
  left:946px;
  top:127px;
  width:37px;
  height:40px;
}
#u347 {
  position:absolute;
  left:2px;
  top:12px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u348 {
  position:absolute;
  left:957px;
  top:210px;
  width:81px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u349 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u350 {
  position:absolute;
  left:957px;
  top:255px;
  width:81px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u351 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u352 {
  position:absolute;
  left:957px;
  top:300px;
  width:97px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u353 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u354 {
  position:absolute;
  left:957px;
  top:345px;
  width:81px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u355 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u356 {
  position:absolute;
  left:957px;
  top:390px;
  width:81px;
  height:22px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#169BD5;
}
#u357 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u358 {
  position:absolute;
  left:1054px;
  top:211px;
  width:72px;
  height:19px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u359 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u360 {
  position:absolute;
  left:1054px;
  top:256px;
  width:72px;
  height:19px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u361 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u362 {
  position:absolute;
  left:1054px;
  top:302px;
  width:72px;
  height:19px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u363 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u364 {
  position:absolute;
  left:1054px;
  top:346px;
  width:72px;
  height:19px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u365 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
#u366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u366 {
  position:absolute;
  left:1054px;
  top:391px;
  width:72px;
  height:19px;
  font-family:'STYuanti-TC-Regular', 'Yuanti TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u367 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  word-wrap:break-word;
}
